body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  overflow: hidden;
}
.contact-list {
  width: 300px;
  background: #ffffff;
  color: white;
  overflow-y: auto;
  padding: 20px;
  border-right: 1px solid black;
}

.contact-list h2 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 15px;
}

.contact-list input {
  width: 100%;
  padding: 10px 0;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  border: 1px solid black;
  font-size: 15px;
}

.contacts {
  display: flex;
  flex-direction: column;
}

.contact {
  margin-bottom: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  color: #333;
}

.contact:hover {
  background-color: #14529b;
}

.contact.active {
  background-color: #1e90ff;
}

.contact-name {
  font-size: 15px;
  font-weight: bold;
  display: flex;

  align-items: center;
}

.chat-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  background: white;
  height: 100vh;
  max-width: calc(100% - 300px);
}

.chat-header {
  background: #2e86de;
  color: white;
  font-size: 15px;
  text-align: center;
}

.chat-messages {
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  max-height: calc(100vh - 200px);
}

.message-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.message-row.teacher {
  flex-direction: row-reverse;
}

.message {
  background: #eaf4ff;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 60%;
  font-size: 15px;
}

.message.teacher {
  background: #d1f7d6;
}

.input-chat {
  padding-top: 15px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
}

.input-chat i {
  margin-left: 20px;
  font-size: 20px;
}

.input-chat .icon {
  margin-bottom: 15px;
}

.chat-input {
  display: flex;
  padding: 10px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
}

.chat-input input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 15px;
}

.chat-input button {
  margin-left: 10px;
  padding: 0 20px;
  background: #2e86de;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-input button:hover {
  background: #1b4f8c;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  overflow: hidden;
}

.message-row.student .message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.message-row.student .message .avatar {
  margin-right: 10px;
}

.message-row.teacher .message {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.message-row.teacher .message .avatar {
  margin-left: 10px;
}

.message {
  margin-bottom: 15px;
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 8px;
}

.message-row.student .message {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  color: #333;
}

.message-row.teacher .message {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  color: #333;
  background-color: #4696eb;
  margin-right: 10px;
}

#chat-messages {
  max-height: calc(100vh - 250px);
  overflow-y: auto;
  padding: 10px;
  font-size: 15px;
}
