.content .b {
  display: flex;
  column-gap: 10px;
}

.content .b > div {
  width: 100%;
}

.content {
  flex: 1;
  font-size: 15px;
}

.content h3 {
  padding-left: 40px;
  font-size: 15px;
}

.content1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: auto;
  padding: 0 200px;
}

.a {
  width: 100%;
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  margin-bottom: 20px;
}

.a p {
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
  font-size: 15px;
}

select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 15px;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

select:hover {
  border-color: #007bff;
}

select option {
  padding: 10px;
  background-color: #fff;
  font-size: 15px;
  color: #333;
}

.a textarea {
  width: 100%;
  min-height: 120px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  box-sizing: border-box;
  resize: vertical;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.a textarea:hover {
  border-color: #007bff;
}

.a textarea:focus {
  border-color: #007bff;
  outline: none;
}

.a .ghichu {
  font-size: 12px;
  color: #666;
  margin-top: 5px;
  display: block;
}

.content button {
  background-color: #4696eb;
  padding: 10px 20px;
  font-size: 15px;
}
